html,
body {
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}
@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
}
body .p72 {
  padding: 72px;
}
body .pw72 {
  padding-left: 72px;
  padding-right: 72px;
}
body .ph72 {
  padding-top: 72px;
  padding-bottom: 72px;
}
body .m72 {
  margin: 72px;
}
body .mw72 {
  margin-left: 72px;
  margin-right: 72px;
}
body .mh72 {
  margin-top: 72px;
  margin-bottom: 72px;
}
body .p70 {
  padding: 70px;
}
body .pw70 {
  padding-left: 70px;
  padding-right: 70px;
}
body .ph70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
body .m70 {
  margin: 70px;
}
body .mw70 {
  margin-left: 70px;
  margin-right: 70px;
}
body .mh70 {
  margin-top: 70px;
  margin-bottom: 70px;
}
body .p68 {
  padding: 68px;
}
body .pw68 {
  padding-left: 68px;
  padding-right: 68px;
}
body .ph68 {
  padding-top: 68px;
  padding-bottom: 68px;
}
body .m68 {
  margin: 68px;
}
body .mw68 {
  margin-left: 68px;
  margin-right: 68px;
}
body .mh68 {
  margin-top: 68px;
  margin-bottom: 68px;
}
body .p66 {
  padding: 66px;
}
body .pw66 {
  padding-left: 66px;
  padding-right: 66px;
}
body .ph66 {
  padding-top: 66px;
  padding-bottom: 66px;
}
body .m66 {
  margin: 66px;
}
body .mw66 {
  margin-left: 66px;
  margin-right: 66px;
}
body .mh66 {
  margin-top: 66px;
  margin-bottom: 66px;
}
body .p64 {
  padding: 64px;
}
body .pw64 {
  padding-left: 64px;
  padding-right: 64px;
}
body .ph64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
body .m64 {
  margin: 64px;
}
body .mw64 {
  margin-left: 64px;
  margin-right: 64px;
}
body .mh64 {
  margin-top: 64px;
  margin-bottom: 64px;
}
body .p62 {
  padding: 62px;
}
body .pw62 {
  padding-left: 62px;
  padding-right: 62px;
}
body .ph62 {
  padding-top: 62px;
  padding-bottom: 62px;
}
body .m62 {
  margin: 62px;
}
body .mw62 {
  margin-left: 62px;
  margin-right: 62px;
}
body .mh62 {
  margin-top: 62px;
  margin-bottom: 62px;
}
body .p60 {
  padding: 60px;
}
body .pw60 {
  padding-left: 60px;
  padding-right: 60px;
}
body .ph60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
body .m60 {
  margin: 60px;
}
body .mw60 {
  margin-left: 60px;
  margin-right: 60px;
}
body .mh60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
body .p58 {
  padding: 58px;
}
body .pw58 {
  padding-left: 58px;
  padding-right: 58px;
}
body .ph58 {
  padding-top: 58px;
  padding-bottom: 58px;
}
body .m58 {
  margin: 58px;
}
body .mw58 {
  margin-left: 58px;
  margin-right: 58px;
}
body .mh58 {
  margin-top: 58px;
  margin-bottom: 58px;
}
body .p56 {
  padding: 56px;
}
body .pw56 {
  padding-left: 56px;
  padding-right: 56px;
}
body .ph56 {
  padding-top: 56px;
  padding-bottom: 56px;
}
body .m56 {
  margin: 56px;
}
body .mw56 {
  margin-left: 56px;
  margin-right: 56px;
}
body .mh56 {
  margin-top: 56px;
  margin-bottom: 56px;
}
body .p54 {
  padding: 54px;
}
body .pw54 {
  padding-left: 54px;
  padding-right: 54px;
}
body .ph54 {
  padding-top: 54px;
  padding-bottom: 54px;
}
body .m54 {
  margin: 54px;
}
body .mw54 {
  margin-left: 54px;
  margin-right: 54px;
}
body .mh54 {
  margin-top: 54px;
  margin-bottom: 54px;
}
body .p52 {
  padding: 52px;
}
body .pw52 {
  padding-left: 52px;
  padding-right: 52px;
}
body .ph52 {
  padding-top: 52px;
  padding-bottom: 52px;
}
body .m52 {
  margin: 52px;
}
body .mw52 {
  margin-left: 52px;
  margin-right: 52px;
}
body .mh52 {
  margin-top: 52px;
  margin-bottom: 52px;
}
body .p50 {
  padding: 50px;
}
body .pw50 {
  padding-left: 50px;
  padding-right: 50px;
}
body .ph50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
body .m50 {
  margin: 50px;
}
body .mw50 {
  margin-left: 50px;
  margin-right: 50px;
}
body .mh50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
body .p48 {
  padding: 48px;
}
body .pw48 {
  padding-left: 48px;
  padding-right: 48px;
}
body .ph48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
body .m48 {
  margin: 48px;
}
body .mw48 {
  margin-left: 48px;
  margin-right: 48px;
}
body .mh48 {
  margin-top: 48px;
  margin-bottom: 48px;
}
body .p46 {
  padding: 46px;
}
body .pw46 {
  padding-left: 46px;
  padding-right: 46px;
}
body .ph46 {
  padding-top: 46px;
  padding-bottom: 46px;
}
body .m46 {
  margin: 46px;
}
body .mw46 {
  margin-left: 46px;
  margin-right: 46px;
}
body .mh46 {
  margin-top: 46px;
  margin-bottom: 46px;
}
body .p44 {
  padding: 44px;
}
body .pw44 {
  padding-left: 44px;
  padding-right: 44px;
}
body .ph44 {
  padding-top: 44px;
  padding-bottom: 44px;
}
body .m44 {
  margin: 44px;
}
body .mw44 {
  margin-left: 44px;
  margin-right: 44px;
}
body .mh44 {
  margin-top: 44px;
  margin-bottom: 44px;
}
body .p42 {
  padding: 42px;
}
body .pw42 {
  padding-left: 42px;
  padding-right: 42px;
}
body .ph42 {
  padding-top: 42px;
  padding-bottom: 42px;
}
body .m42 {
  margin: 42px;
}
body .mw42 {
  margin-left: 42px;
  margin-right: 42px;
}
body .mh42 {
  margin-top: 42px;
  margin-bottom: 42px;
}
body .p40 {
  padding: 40px;
}
body .pw40 {
  padding-left: 40px;
  padding-right: 40px;
}
body .ph40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
body .m40 {
  margin: 40px;
}
body .mw40 {
  margin-left: 40px;
  margin-right: 40px;
}
body .mh40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
body .p38 {
  padding: 38px;
}
body .pw38 {
  padding-left: 38px;
  padding-right: 38px;
}
body .ph38 {
  padding-top: 38px;
  padding-bottom: 38px;
}
body .m38 {
  margin: 38px;
}
body .mw38 {
  margin-left: 38px;
  margin-right: 38px;
}
body .mh38 {
  margin-top: 38px;
  margin-bottom: 38px;
}
body .p36 {
  padding: 36px;
}
body .pw36 {
  padding-left: 36px;
  padding-right: 36px;
}
body .ph36 {
  padding-top: 36px;
  padding-bottom: 36px;
}
body .m36 {
  margin: 36px;
}
body .mw36 {
  margin-left: 36px;
  margin-right: 36px;
}
body .mh36 {
  margin-top: 36px;
  margin-bottom: 36px;
}
body .p34 {
  padding: 34px;
}
body .pw34 {
  padding-left: 34px;
  padding-right: 34px;
}
body .ph34 {
  padding-top: 34px;
  padding-bottom: 34px;
}
body .m34 {
  margin: 34px;
}
body .mw34 {
  margin-left: 34px;
  margin-right: 34px;
}
body .mh34 {
  margin-top: 34px;
  margin-bottom: 34px;
}
body .p32 {
  padding: 32px;
}
body .pw32 {
  padding-left: 32px;
  padding-right: 32px;
}
body .ph32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
body .m32 {
  margin: 32px;
}
body .mw32 {
  margin-left: 32px;
  margin-right: 32px;
}
body .mh32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
body .p30 {
  padding: 30px;
}
body .pw30 {
  padding-left: 30px;
  padding-right: 30px;
}
body .ph30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
body .m30 {
  margin: 30px;
}
body .mw30 {
  margin-left: 30px;
  margin-right: 30px;
}
body .mh30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
body .p28 {
  padding: 28px;
}
body .pw28 {
  padding-left: 28px;
  padding-right: 28px;
}
body .ph28 {
  padding-top: 28px;
  padding-bottom: 28px;
}
body .m28 {
  margin: 28px;
}
body .mw28 {
  margin-left: 28px;
  margin-right: 28px;
}
body .mh28 {
  margin-top: 28px;
  margin-bottom: 28px;
}
body .p26 {
  padding: 26px;
}
body .pw26 {
  padding-left: 26px;
  padding-right: 26px;
}
body .ph26 {
  padding-top: 26px;
  padding-bottom: 26px;
}
body .m26 {
  margin: 26px;
}
body .mw26 {
  margin-left: 26px;
  margin-right: 26px;
}
body .mh26 {
  margin-top: 26px;
  margin-bottom: 26px;
}
body .p24 {
  padding: 24px;
}
body .pw24 {
  padding-left: 24px;
  padding-right: 24px;
}
body .ph24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
body .m24 {
  margin: 24px;
}
body .mw24 {
  margin-left: 24px;
  margin-right: 24px;
}
body .mh24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
body .p22 {
  padding: 22px;
}
body .pw22 {
  padding-left: 22px;
  padding-right: 22px;
}
body .ph22 {
  padding-top: 22px;
  padding-bottom: 22px;
}
body .m22 {
  margin: 22px;
}
body .mw22 {
  margin-left: 22px;
  margin-right: 22px;
}
body .mh22 {
  margin-top: 22px;
  margin-bottom: 22px;
}
body .p20 {
  padding: 20px;
}
body .pw20 {
  padding-left: 20px;
  padding-right: 20px;
}
body .ph20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
body .m20 {
  margin: 20px;
}
body .mw20 {
  margin-left: 20px;
  margin-right: 20px;
}
body .mh20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
body .p18 {
  padding: 18px;
}
body .pw18 {
  padding-left: 18px;
  padding-right: 18px;
}
body .ph18 {
  padding-top: 18px;
  padding-bottom: 18px;
}
body .m18 {
  margin: 18px;
}
body .mw18 {
  margin-left: 18px;
  margin-right: 18px;
}
body .mh18 {
  margin-top: 18px;
  margin-bottom: 18px;
}
body .p16 {
  padding: 16px;
}
body .pw16 {
  padding-left: 16px;
  padding-right: 16px;
}
body .ph16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
body .m16 {
  margin: 16px;
}
body .mw16 {
  margin-left: 16px;
  margin-right: 16px;
}
body .mh16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
body .p14 {
  padding: 14px;
}
body .pw14 {
  padding-left: 14px;
  padding-right: 14px;
}
body .ph14 {
  padding-top: 14px;
  padding-bottom: 14px;
}
body .m14 {
  margin: 14px;
}
body .mw14 {
  margin-left: 14px;
  margin-right: 14px;
}
body .mh14 {
  margin-top: 14px;
  margin-bottom: 14px;
}
body .p12 {
  padding: 12px;
}
body .pw12 {
  padding-left: 12px;
  padding-right: 12px;
}
body .ph12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
body .m12 {
  margin: 12px;
}
body .mw12 {
  margin-left: 12px;
  margin-right: 12px;
}
body .mh12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
body .p10 {
  padding: 10px;
}
body .pw10 {
  padding-left: 10px;
  padding-right: 10px;
}
body .ph10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
body .m10 {
  margin: 10px;
}
body .mw10 {
  margin-left: 10px;
  margin-right: 10px;
}
body .mh10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
body .p8 {
  padding: 8px;
}
body .pw8 {
  padding-left: 8px;
  padding-right: 8px;
}
body .ph8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
body .m8 {
  margin: 8px;
}
body .mw8 {
  margin-left: 8px;
  margin-right: 8px;
}
body .mh8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
body .p6 {
  padding: 6px;
}
body .pw6 {
  padding-left: 6px;
  padding-right: 6px;
}
body .ph6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
body .m6 {
  margin: 6px;
}
body .mw6 {
  margin-left: 6px;
  margin-right: 6px;
}
body .mh6 {
  margin-top: 6px;
  margin-bottom: 6px;
}
body .p4 {
  padding: 4px;
}
body .pw4 {
  padding-left: 4px;
  padding-right: 4px;
}
body .ph4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
body .m4 {
  margin: 4px;
}
body .mw4 {
  margin-left: 4px;
  margin-right: 4px;
}
body .mh4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
body .p2 {
  padding: 2px;
}
body .pw2 {
  padding-left: 2px;
  padding-right: 2px;
}
body .ph2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
body .m2 {
  margin: 2px;
}
body .mw2 {
  margin-left: 2px;
  margin-right: 2px;
}
body .mh2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
body .p0 {
  padding: 0px;
}
body .pw0 {
  padding-left: 0px;
  padding-right: 0px;
}
body .ph0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
body .m0 {
  margin: 0px;
}
body .mw0 {
  margin-left: 0px;
  margin-right: 0px;
}
body .mh0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
body .mt72 {
  margin-top: 72px;
}
body .mr72 {
  margin-right: 72px;
}
body .mb72 {
  margin-bottom: 72px;
}
body .ml72 {
  margin-left: 72px;
}
body .pt72 {
  padding-top: 72px;
}
body .pr72 {
  padding-right: 72px;
}
body .pb72 {
  padding-bottom: 72px;
}
body .pl72 {
  padding-left: 72px;
}
body .mt70 {
  margin-top: 70px;
}
body .mr70 {
  margin-right: 70px;
}
body .mb70 {
  margin-bottom: 70px;
}
body .ml70 {
  margin-left: 70px;
}
body .pt70 {
  padding-top: 70px;
}
body .pr70 {
  padding-right: 70px;
}
body .pb70 {
  padding-bottom: 70px;
}
body .pl70 {
  padding-left: 70px;
}
body .mt68 {
  margin-top: 68px;
}
body .mr68 {
  margin-right: 68px;
}
body .mb68 {
  margin-bottom: 68px;
}
body .ml68 {
  margin-left: 68px;
}
body .pt68 {
  padding-top: 68px;
}
body .pr68 {
  padding-right: 68px;
}
body .pb68 {
  padding-bottom: 68px;
}
body .pl68 {
  padding-left: 68px;
}
body .mt66 {
  margin-top: 66px;
}
body .mr66 {
  margin-right: 66px;
}
body .mb66 {
  margin-bottom: 66px;
}
body .ml66 {
  margin-left: 66px;
}
body .pt66 {
  padding-top: 66px;
}
body .pr66 {
  padding-right: 66px;
}
body .pb66 {
  padding-bottom: 66px;
}
body .pl66 {
  padding-left: 66px;
}
body .mt64 {
  margin-top: 64px;
}
body .mr64 {
  margin-right: 64px;
}
body .mb64 {
  margin-bottom: 64px;
}
body .ml64 {
  margin-left: 64px;
}
body .pt64 {
  padding-top: 64px;
}
body .pr64 {
  padding-right: 64px;
}
body .pb64 {
  padding-bottom: 64px;
}
body .pl64 {
  padding-left: 64px;
}
body .mt62 {
  margin-top: 62px;
}
body .mr62 {
  margin-right: 62px;
}
body .mb62 {
  margin-bottom: 62px;
}
body .ml62 {
  margin-left: 62px;
}
body .pt62 {
  padding-top: 62px;
}
body .pr62 {
  padding-right: 62px;
}
body .pb62 {
  padding-bottom: 62px;
}
body .pl62 {
  padding-left: 62px;
}
body .mt60 {
  margin-top: 60px;
}
body .mr60 {
  margin-right: 60px;
}
body .mb60 {
  margin-bottom: 60px;
}
body .ml60 {
  margin-left: 60px;
}
body .pt60 {
  padding-top: 60px;
}
body .pr60 {
  padding-right: 60px;
}
body .pb60 {
  padding-bottom: 60px;
}
body .pl60 {
  padding-left: 60px;
}
body .mt58 {
  margin-top: 58px;
}
body .mr58 {
  margin-right: 58px;
}
body .mb58 {
  margin-bottom: 58px;
}
body .ml58 {
  margin-left: 58px;
}
body .pt58 {
  padding-top: 58px;
}
body .pr58 {
  padding-right: 58px;
}
body .pb58 {
  padding-bottom: 58px;
}
body .pl58 {
  padding-left: 58px;
}
body .mt56 {
  margin-top: 56px;
}
body .mr56 {
  margin-right: 56px;
}
body .mb56 {
  margin-bottom: 56px;
}
body .ml56 {
  margin-left: 56px;
}
body .pt56 {
  padding-top: 56px;
}
body .pr56 {
  padding-right: 56px;
}
body .pb56 {
  padding-bottom: 56px;
}
body .pl56 {
  padding-left: 56px;
}
body .mt54 {
  margin-top: 54px;
}
body .mr54 {
  margin-right: 54px;
}
body .mb54 {
  margin-bottom: 54px;
}
body .ml54 {
  margin-left: 54px;
}
body .pt54 {
  padding-top: 54px;
}
body .pr54 {
  padding-right: 54px;
}
body .pb54 {
  padding-bottom: 54px;
}
body .pl54 {
  padding-left: 54px;
}
body .mt52 {
  margin-top: 52px;
}
body .mr52 {
  margin-right: 52px;
}
body .mb52 {
  margin-bottom: 52px;
}
body .ml52 {
  margin-left: 52px;
}
body .pt52 {
  padding-top: 52px;
}
body .pr52 {
  padding-right: 52px;
}
body .pb52 {
  padding-bottom: 52px;
}
body .pl52 {
  padding-left: 52px;
}
body .mt50 {
  margin-top: 50px;
}
body .mr50 {
  margin-right: 50px;
}
body .mb50 {
  margin-bottom: 50px;
}
body .ml50 {
  margin-left: 50px;
}
body .pt50 {
  padding-top: 50px;
}
body .pr50 {
  padding-right: 50px;
}
body .pb50 {
  padding-bottom: 50px;
}
body .pl50 {
  padding-left: 50px;
}
body .mt48 {
  margin-top: 48px;
}
body .mr48 {
  margin-right: 48px;
}
body .mb48 {
  margin-bottom: 48px;
}
body .ml48 {
  margin-left: 48px;
}
body .pt48 {
  padding-top: 48px;
}
body .pr48 {
  padding-right: 48px;
}
body .pb48 {
  padding-bottom: 48px;
}
body .pl48 {
  padding-left: 48px;
}
body .mt46 {
  margin-top: 46px;
}
body .mr46 {
  margin-right: 46px;
}
body .mb46 {
  margin-bottom: 46px;
}
body .ml46 {
  margin-left: 46px;
}
body .pt46 {
  padding-top: 46px;
}
body .pr46 {
  padding-right: 46px;
}
body .pb46 {
  padding-bottom: 46px;
}
body .pl46 {
  padding-left: 46px;
}
body .mt44 {
  margin-top: 44px;
}
body .mr44 {
  margin-right: 44px;
}
body .mb44 {
  margin-bottom: 44px;
}
body .ml44 {
  margin-left: 44px;
}
body .pt44 {
  padding-top: 44px;
}
body .pr44 {
  padding-right: 44px;
}
body .pb44 {
  padding-bottom: 44px;
}
body .pl44 {
  padding-left: 44px;
}
body .mt42 {
  margin-top: 42px;
}
body .mr42 {
  margin-right: 42px;
}
body .mb42 {
  margin-bottom: 42px;
}
body .ml42 {
  margin-left: 42px;
}
body .pt42 {
  padding-top: 42px;
}
body .pr42 {
  padding-right: 42px;
}
body .pb42 {
  padding-bottom: 42px;
}
body .pl42 {
  padding-left: 42px;
}
body .mt40 {
  margin-top: 40px;
}
body .mr40 {
  margin-right: 40px;
}
body .mb40 {
  margin-bottom: 40px;
}
body .ml40 {
  margin-left: 40px;
}
body .pt40 {
  padding-top: 40px;
}
body .pr40 {
  padding-right: 40px;
}
body .pb40 {
  padding-bottom: 40px;
}
body .pl40 {
  padding-left: 40px;
}
body .mt38 {
  margin-top: 38px;
}
body .mr38 {
  margin-right: 38px;
}
body .mb38 {
  margin-bottom: 38px;
}
body .ml38 {
  margin-left: 38px;
}
body .pt38 {
  padding-top: 38px;
}
body .pr38 {
  padding-right: 38px;
}
body .pb38 {
  padding-bottom: 38px;
}
body .pl38 {
  padding-left: 38px;
}
body .mt36 {
  margin-top: 36px;
}
body .mr36 {
  margin-right: 36px;
}
body .mb36 {
  margin-bottom: 36px;
}
body .ml36 {
  margin-left: 36px;
}
body .pt36 {
  padding-top: 36px;
}
body .pr36 {
  padding-right: 36px;
}
body .pb36 {
  padding-bottom: 36px;
}
body .pl36 {
  padding-left: 36px;
}
body .mt34 {
  margin-top: 34px;
}
body .mr34 {
  margin-right: 34px;
}
body .mb34 {
  margin-bottom: 34px;
}
body .ml34 {
  margin-left: 34px;
}
body .pt34 {
  padding-top: 34px;
}
body .pr34 {
  padding-right: 34px;
}
body .pb34 {
  padding-bottom: 34px;
}
body .pl34 {
  padding-left: 34px;
}
body .mt32 {
  margin-top: 32px;
}
body .mr32 {
  margin-right: 32px;
}
body .mb32 {
  margin-bottom: 32px;
}
body .ml32 {
  margin-left: 32px;
}
body .pt32 {
  padding-top: 32px;
}
body .pr32 {
  padding-right: 32px;
}
body .pb32 {
  padding-bottom: 32px;
}
body .pl32 {
  padding-left: 32px;
}
body .mt30 {
  margin-top: 30px;
}
body .mr30 {
  margin-right: 30px;
}
body .mb30 {
  margin-bottom: 30px;
}
body .ml30 {
  margin-left: 30px;
}
body .pt30 {
  padding-top: 30px;
}
body .pr30 {
  padding-right: 30px;
}
body .pb30 {
  padding-bottom: 30px;
}
body .pl30 {
  padding-left: 30px;
}
body .mt28 {
  margin-top: 28px;
}
body .mr28 {
  margin-right: 28px;
}
body .mb28 {
  margin-bottom: 28px;
}
body .ml28 {
  margin-left: 28px;
}
body .pt28 {
  padding-top: 28px;
}
body .pr28 {
  padding-right: 28px;
}
body .pb28 {
  padding-bottom: 28px;
}
body .pl28 {
  padding-left: 28px;
}
body .mt26 {
  margin-top: 26px;
}
body .mr26 {
  margin-right: 26px;
}
body .mb26 {
  margin-bottom: 26px;
}
body .ml26 {
  margin-left: 26px;
}
body .pt26 {
  padding-top: 26px;
}
body .pr26 {
  padding-right: 26px;
}
body .pb26 {
  padding-bottom: 26px;
}
body .pl26 {
  padding-left: 26px;
}
body .mt24 {
  margin-top: 24px;
}
body .mr24 {
  margin-right: 24px;
}
body .mb24 {
  margin-bottom: 24px;
}
body .ml24 {
  margin-left: 24px;
}
body .pt24 {
  padding-top: 24px;
}
body .pr24 {
  padding-right: 24px;
}
body .pb24 {
  padding-bottom: 24px;
}
body .pl24 {
  padding-left: 24px;
}
body .mt22 {
  margin-top: 22px;
}
body .mr22 {
  margin-right: 22px;
}
body .mb22 {
  margin-bottom: 22px;
}
body .ml22 {
  margin-left: 22px;
}
body .pt22 {
  padding-top: 22px;
}
body .pr22 {
  padding-right: 22px;
}
body .pb22 {
  padding-bottom: 22px;
}
body .pl22 {
  padding-left: 22px;
}
body .mt20 {
  margin-top: 20px;
}
body .mr20 {
  margin-right: 20px;
}
body .mb20 {
  margin-bottom: 20px;
}
body .ml20 {
  margin-left: 20px;
}
body .pt20 {
  padding-top: 20px;
}
body .pr20 {
  padding-right: 20px;
}
body .pb20 {
  padding-bottom: 20px;
}
body .pl20 {
  padding-left: 20px;
}
body .mt18 {
  margin-top: 18px;
}
body .mr18 {
  margin-right: 18px;
}
body .mb18 {
  margin-bottom: 18px;
}
body .ml18 {
  margin-left: 18px;
}
body .pt18 {
  padding-top: 18px;
}
body .pr18 {
  padding-right: 18px;
}
body .pb18 {
  padding-bottom: 18px;
}
body .pl18 {
  padding-left: 18px;
}
body .mt16 {
  margin-top: 16px;
}
body .mr16 {
  margin-right: 16px;
}
body .mb16 {
  margin-bottom: 16px;
}
body .ml16 {
  margin-left: 16px;
}
body .pt16 {
  padding-top: 16px;
}
body .pr16 {
  padding-right: 16px;
}
body .pb16 {
  padding-bottom: 16px;
}
body .pl16 {
  padding-left: 16px;
}
body .mt14 {
  margin-top: 14px;
}
body .mr14 {
  margin-right: 14px;
}
body .mb14 {
  margin-bottom: 14px;
}
body .ml14 {
  margin-left: 14px;
}
body .pt14 {
  padding-top: 14px;
}
body .pr14 {
  padding-right: 14px;
}
body .pb14 {
  padding-bottom: 14px;
}
body .pl14 {
  padding-left: 14px;
}
body .mt12 {
  margin-top: 12px;
}
body .mr12 {
  margin-right: 12px;
}
body .mb12 {
  margin-bottom: 12px;
}
body .ml12 {
  margin-left: 12px;
}
body .pt12 {
  padding-top: 12px;
}
body .pr12 {
  padding-right: 12px;
}
body .pb12 {
  padding-bottom: 12px;
}
body .pl12 {
  padding-left: 12px;
}
body .mt10 {
  margin-top: 10px;
}
body .mr10 {
  margin-right: 10px;
}
body .mb10 {
  margin-bottom: 10px;
}
body .ml10 {
  margin-left: 10px;
}
body .pt10 {
  padding-top: 10px;
}
body .pr10 {
  padding-right: 10px;
}
body .pb10 {
  padding-bottom: 10px;
}
body .pl10 {
  padding-left: 10px;
}
body .mt8 {
  margin-top: 8px;
}
body .mr8 {
  margin-right: 8px;
}
body .mb8 {
  margin-bottom: 8px;
}
body .ml8 {
  margin-left: 8px;
}
body .pt8 {
  padding-top: 8px;
}
body .pr8 {
  padding-right: 8px;
}
body .pb8 {
  padding-bottom: 8px;
}
body .pl8 {
  padding-left: 8px;
}
body .mt6 {
  margin-top: 6px;
}
body .mr6 {
  margin-right: 6px;
}
body .mb6 {
  margin-bottom: 6px;
}
body .ml6 {
  margin-left: 6px;
}
body .pt6 {
  padding-top: 6px;
}
body .pr6 {
  padding-right: 6px;
}
body .pb6 {
  padding-bottom: 6px;
}
body .pl6 {
  padding-left: 6px;
}
body .mt4 {
  margin-top: 4px;
}
body .mr4 {
  margin-right: 4px;
}
body .mb4 {
  margin-bottom: 4px;
}
body .ml4 {
  margin-left: 4px;
}
body .pt4 {
  padding-top: 4px;
}
body .pr4 {
  padding-right: 4px;
}
body .pb4 {
  padding-bottom: 4px;
}
body .pl4 {
  padding-left: 4px;
}
body .mt2 {
  margin-top: 2px;
}
body .mr2 {
  margin-right: 2px;
}
body .mb2 {
  margin-bottom: 2px;
}
body .ml2 {
  margin-left: 2px;
}
body .pt2 {
  padding-top: 2px;
}
body .pr2 {
  padding-right: 2px;
}
body .pb2 {
  padding-bottom: 2px;
}
body .pl2 {
  padding-left: 2px;
}
body .mt0 {
  margin-top: 0px;
}
body .mr0 {
  margin-right: 0px;
}
body .mb0 {
  margin-bottom: 0px;
}
body .ml0 {
  margin-left: 0px;
}
body .pt0 {
  padding-top: 0px;
}
body .pr0 {
  padding-right: 0px;
}
body .pb0 {
  padding-bottom: 0px;
}
body .pl0 {
  padding-left: 0px;
}
body .fs60 {
  font-size: 60px;
}
body .fs58 {
  font-size: 58px;
}
body .fs56 {
  font-size: 56px;
}
body .fs54 {
  font-size: 54px;
}
body .fs52 {
  font-size: 52px;
}
body .fs50 {
  font-size: 50px;
}
body .fs48 {
  font-size: 48px;
}
body .fs46 {
  font-size: 46px;
}
body .fs44 {
  font-size: 44px;
}
body .fs42 {
  font-size: 42px;
}
body .fs40 {
  font-size: 40px;
}
body .fs38 {
  font-size: 38px;
}
body .fs36 {
  font-size: 36px;
}
body .fs34 {
  font-size: 34px;
}
body .fs32 {
  font-size: 32px;
}
body .fs30 {
  font-size: 30px;
}
body .fs28 {
  font-size: 28px;
}
body .fs26 {
  font-size: 26px;
}
body .fs24 {
  font-size: 24px;
}
body .fs22 {
  font-size: 22px;
}
body .fs20 {
  font-size: 20px;
}
body .fs18 {
  font-size: 18px;
}
body .fs16 {
  font-size: 16px;
}
body .fs14 {
  font-size: 14px;
}
body .fs12 {
  font-size: 12px;
}
body .fs10 {
  font-size: 10px;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.wh100 {
  width: 100%;
  height: 100%;
}
.br4 {
  border-radius: 4px;
}
.br6 {
  border-radius: 6px;
}
.br8 {
  border-radius: 8px;
}
.color3 {
  color: #333;
}
.color9 {
  color: #999;
}
#app .pw_base {
  padding-left: 14px;
  padding-right: 14px;
}
#app .ph_base {
  padding-top: 14px;
  padding-bottom: 14px;
}
#app .mw_base {
  margin-left: 14px;
  margin-right: 14px;
}
.scale_touch {
  padding: 1em;
  margin: -1em;
}
.nowrap {
  white-space: nowrap;
}
.font500 {
  font-weight: 500;
}
.font800 {
  font-weight: 800;
}
.font_bold {
  font-weight: 600;
}
.font_normal {
  font-weight: normal;
}
.cursor_p {
  cursor: pointer;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.position_r {
  position: relative;
}
.position_a {
  position: absolute;
}
.full_wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.text_c {
  text-align: center;
}
.text_l {
  text-align: left;
}
.text_r {
  text-align: right;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.bg_white,
.bg_f {
  background: #fff;
}
.hide {
  display: none;
}
.over_hide {
  overflow: hidden;
}
.over_auto {
  overflow-y: auto;
}
.border_t {
  border-top: 1px solid var(--border-color);
}
.border_b {
  border-bottom: 1px solid var(--border-color);
}
.right2l-enter-active,
.right2l-leave-active,
.right2lback-enter-active,
.right2lback-leave-active {
  width: 100vw;
  transition: all 0.3s;
}
.right2l-enter-from {
  transform: translate3d(100%, 0, 0);
}
.right2l-leave-to {
  transform: translate3d(-100%, 0, 0);
}
.right2l-enter-active {
  position: fixed;
  top: 0;
  z-index: 999;
  background: var(--disabled-color-bg);
}
.right2lback-leave-active {
  z-index: 999;
  position: fixed;
  top: 0;
  background: var(--disabled-color-bg);
}
.right2lback-enter-from {
  transform: translate3d(-30%, 0, 0);
  z-index: 0;
}
.right2lback-leave-to {
  transform: translate3d(100%, 0, 0);
  z-index: 999;
}
#app .right2lback-enter,
#app .right2lback-enter-active {
  z-index: 0;
}
.alg_c {
  text-align: center;
}
.alg_f {
  text-align: left;
}
.alg_r {
  text-align: right;
}
.showPoint {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mint-searchbar-inner {
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  height: 28px;
  padding: 4px 6px;
}
.mint-searchbar-inner .mintui-search {
  color: #666;
  font-size: 16px;
}
.amap-logo,
.amap-copyright {
  display: none !important;
}
